* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;

  background: url("https://t3.ftcdn.net/jpg/08/68/51/04/360_F_868510427_vsvN67LV1zSmLMyXMOFG05tRCmTAj1xL.jpg")
    center/cover no-repeat;

  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
}


.navbar {
  position: relative;
  z-index: 10;

  display: flex;
  justify-content: space-evenly;

  padding: 25px 60px;
}

.navbar a {
  color: #9dd4ff;
  margin-left: 5px;
  text-decoration: none;
  font-weight: 600;
}

.navbar a:hover {
  text-decoration: underline;
}

.logo {
  color: white;
  font-size: 32px;
  font-weight: bold;
}

.navbar ul {
  display: flex;
  gap: 40px;
  list-style: none;
}

.navbar ul li {
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.navbar ul li:hover {
  color: #7ec8ff;
}

.nav-btn {
  padding: 10px 28px;
  border-radius: 10px;
  border: 2px solid white;
  background: transparent;
  color: white;
  cursor: pointer;
  font-weight: 600;
}

.nav-btn:hover {
  background: white;
  color: black;
}



.login-main {
  position: relative;
  z-index: 10;

  width: 420px;
  margin: 80px auto;

  padding: 40px;
  border-radius: 25px;

  background: rgba(255, 255, 255, 0.12);

  border: 1px solid rgba(255, 255, 255, 0.2);

  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.35);
}

.login-main h1 {
  text-align: center;
  margin-bottom: 35px;
  color: #fff;
  font-size: 40px;
}

/* INPUTS */

.input {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.input label {
  color: white;
  margin-bottom: 8px;
  font-size: 14px;
}

.input input{
  width: 100%;
  padding: 12px 5px;

  background: transparent;
  border: none;
  border-bottom: 2px solid white;

  color: white;
  outline: none;
  font-size: 15px;
}

.input input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

/* BUTTON */

.login-btn {
  width: 100%;
  margin-top: 15px;

  padding: 14px;
  border: none;
  border-radius: 8px;

  background: #0c3557;
  color: white;

  font-size: 16px;
  font-weight: 600;

  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  background: #16507f;
}


.end {
  margin-top: 20px;
  text-align: center;
}

.end span {
  color: white;
}

.end a {
  color: #9dd4ff;
  margin-left: 5px;
  text-decoration: none;
  font-weight: 600;
}

.end a:hover {
  text-decoration: underline;
}
